<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Aplication
    </title>
</head>
<body>
    <nav><ul>
        <li>
            <a href="">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="/logout">logout</a>
        </li>
        {% else %}
        <li>
            <a href="/singup">Singup</a>
        </li>
        <li>
            <a href="/singing"></a>
        </li>
        {% endif %}
    </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>