{% extends 'navbar.html' %}

{% block body %}

    <h1>1</h1>
    <ul>
        {% for Categoria in categorias %}
        <li>
            <a href="{% url 'detalle_categorias' Categoria.nombrecat %}">
                 <p>{{ Categoria.nombrecat }}</p>
                {% if Categoria.imagen %}
                    <img src="{{ Categoria.imagen.url }}" alt="Imagen de la categoría" width="200">
                {% else %}
                    <p>No hay imagen disponible</p>
                {% endif %}
            
            </a>
            
        </li>
        {% endfor %}
    </ul>
    {% if user.is_superuser %}
    <button style="margin-bottom: 20px;"><a href="{% url 'Agregarcat' %}">Crear Categoria</a></button>
    {% endif %}
{% endblock %}