{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<a href="{% url 'Home' %}" class="btn-back">
    ← Volver
  </a>
  
<h1>Categorías</h1>

<div class="categoria-grid">
    {% for Categoria in categorias %}
        <div class="categoria-card">
            <a href="{% url 'detalle_categorias' Categoria.nombrecat %}" class="auth-form-title">
                <p>{{ Categoria.nombrecat }}</p>
                {% if Categoria.imagen %}
                    <img src="{{ Categoria.imagen.url }}" alt="Imagen de la categoría" width="200">
                {% else %}
                    <p>No hay imagen disponible</p>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>

{% if user.is_superuser %}
    <div class="btn-crear-categoria-container">
        <a href="{% url 'Agregarcat' %}" class="btn-primario">+ Crear Categoría</a>
    </div>
{% endif %}

{% endblock %}