{% extends 'navbar.html' %}

{% block body %}
<a href="{% url 'categorias'   %}" class="btn btn-primary">volver </a>
 <h1>{{ categoria.nombrecat }}</h1>

  
        {% if categoria.imagen %}
            <img src="{{ categoria.imagen.url }}" alt="Imagen de la categoría">
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}
        <p> {{ categoria.descripcion }} </p>
        {% if user.is_superuser %}
            <form action="{% url 'eliminar_cat' categoria.nombrecat %}" method="POST">
                {% csrf_token %}
                <p>¿Estás seguro de que quieres eliminar esta categoría?</p>
                <button>
                    Eliminar categoria
                </button>
            </form>
        {% endif %}
        #  #
        {% if user.is_superuser or "@bodegero" in user.email %}
              <form action="{% url 'Agregarart' categoria.nombrecat %}" method="GET">
            
            <button>Agregar artículo</button>
        </form>
        {% endif %}
       

        # #
        <ul>
            {% for articulo in Articulos %}
                <li>
                    <a href="{% url 'detalle_Articulos' articulo.Tipo articulo.nombreart %}">
                        <p>{{ articulo.nombreart }}</p>
                        {% if articulo.imagen %}
                            <img src="{{ articulo.imagen.url }}" alt="Imagen del artículo" width="200">
                        {% else %}
                            <p>No hay imagen disponible</p>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>


{% endblock %}