{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container-crear-categoria centered-box">
    

    

     <h1 class="text-cafe">Sobre Nosotros</h1>




  <h3 class="text-cafe">Nuesta Historia</h3>
  <p>
    somos una distribuidora establecida en Santiago desde la década de los 80. Contamos con 4 sucursales en la Región Metropolitana y
    3 en regiones, con un plan de expansión en todo Chile.
  </p>

  <p>
    Ofrecemos una amplia gama de productos: herramientas manuales y eléctricas, pinturas, materiales eléctricos, artículos de seguridad y más.
    Trabajamos con marcas líderes como Bosch, Makita, Stanley y Sika, garantizando variedad y calidad para nuestros clientes.
  </p>

  

  <h3 class="text-cafe">Nuestro Compromiso</h3>
  <p>
    En FERREMAS trabajamos día a día para ofrecer productos de alta calidad y un servicio excepcional. Nuestro objetivo es crecer junto a nuestros
    clientes y ser su primera opción en ferretería y construcción a lo largo del país.
  </p>
  
</div>


{% endblock %}