{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}
<div class="auth-background">
    <a href="{% url 'Home' %}" class="back-button">
        ← Volver
    </a>
  <div class="auth-container">

    <!-- Sección izquierda con botón para ir al login -->
    <div class="auth-box d-flex flex-column justify-content-center align-items-center border-end centered-box">
      <p class="text-center">¿Ya tienes una cuenta?</p>
      <a href="/singin/">
        <button class="auth-switch">Iniciar Sesión</button>
      </a>
    </div>

    <!-- Formulario de registro -->
    <div class="auth-box">
      <h2 class="auth-form-title">Crear Cuenta</h2>

      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form action="/singup/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary auth-button">Registrarme</button>
      </form>
    </div>

  </div>
</div>
{% endblock %}