{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block content %}


<div class="auth-background">
    <a href="javascript:history.back()" class="back-button">← Volver</a>
  <div class="auth-container">

    <!-- Formulario de login -->
    <div class="auth-box">
      <h2 class="auth-form-title">Iniciar Sesión</h2>

      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form method="post" action="/singin/">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="/Home/">
          <button  class="btn btn-primary auth-button">Entrar</button>
        </a>
        
      </form>
    </div>

    <!-- Sección derecha con botón para ir a crear cuenta -->
    <div class="auth-box d-flex flex-column justify-content-center align-items-center border-start centered-box">
      <p class="text-center">¿No tienes una cuenta?</p>
      <a href="/singup/">
        <button class="auth-switch">Crear Cuenta</button>
      </a>
    </div>

  </div>
</div>
{% endblock %}